
[Unit]
Description=Chronos
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/java -cp /usr/share/chronos/chronos.jar org.apache.mesos.chronos.scheduler.Main --master zk://127.0.0.1:2181/mesos --zk_hosts 127.0.0.1:2181
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
